* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    font-family: Verdana;
}

nav {
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    border-color: white;
}

nav a {
    position: relative;
    display: inline-block;
    color: #FFFFDD;
    font-size: 35px;
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: all 300ms ease;
}

nav a::after {
    content: "";
    width: 100%;
    position: absolute;
    height: 3px;
    bottom: 0;
    left: 0;
    background: #FFFFDD;
    transform: scaleX(0);
    transform-origin: bottom left top right;
    transition: all 300ms ease ;
}

nav a:hover {
    color: gold;
    transform: scale(1.1);
}

nav a:hover::after {
    transform: scaleX(1);
}


#animations-button {
    background: linear-gradient(to right, #1CD8D2, #93EDC7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 300ms ease;
}
